{{ define "main" }}
  <div class="uk-container uk-container-medium uk-margin-small-top">
    <p>
      Mockups are not pixel-perfect representations, but a reference for user
      research interviews. The final product will likely differ in significant
      ways. Return to the <a href="../">mockups index</a>.
    </p>
    <div style="border:1px solid;padding:25px;min-width:1150px">
      {{ .Content }}
    </div>
  </div>
{{ end }}
