---
title: "Video collaboration for everyone"
description:
  "Synura is a collaborative video planning and editing app. It helps streamline
  your creation flow and offers automatic, AI-powered edits."
---

<!-- new hero -->
<div class="hero-container uk-height-large uk-padding-remove uk-margin-remove">
  <div class="sky">
    <div class="stars0"></div>
    <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="stars3">
      <div
        style="width: 10px; height: 10px; position: absolute; top: 325px; left: 1172px;">
        <img
          src="/images/hero/47.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 4px; left: 393px;">
        <img
          src="/images/hero/30.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 219px; left: 13px;">
        <img
          src="/images/hero/36.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 218px; left: 1208px;">
        <img
          src="/images/hero/9.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 202px; left: 1922px;">
        <img
          src="/images/hero/25.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 9px; left: 89px;">
        <img
          src="/images/hero/40.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 96px; left: 723px;">
        <img
          src="/images/hero/38.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 347px; left: 2107px;">
        <img
          src="/images/hero/7.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 130px; left: 3294px;">
        <img
          src="/images/hero/19.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 292px; left: 1840px;">
        <img
          src="/images/hero/49.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 282px; left: 2299px;">
        <img
          src="/images/hero/49.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 62px; left: 2111px;">
        <img
          src="/images/hero/4.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 412px; left: 3387px;">
        <img
          src="/images/hero/14.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 168px; left: 2836px;">
        <img
          src="/images/hero/18.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
      <div
        style="width: 10px; height: 10px; position: absolute; top: 434px; left: 4124px;">
        <img
          src="/images/hero/5.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 10px; height: 10px;" />
      </div>
    </div>
    <div class="stars4">
      <div
        style="width: 15px; height: 15px; position: absolute; top: 43px; left: 3194px;">
        <img
          src="/images/hero/43.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 180px; left: 3781px;">
        <img
          src="/images/hero/1.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 53px; left: 2728px;">
        <img
          src="/images/hero/15.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 317px; left: 1538px;">
        <img
          src="/images/hero/29.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 114px; left: 2595px;">
        <img
          src="/images/hero/22.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 62px; left: 4388px;">
        <img
          src="/images/hero/32.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 276px; left: 504px;">
        <img
          src="/images/hero/3.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 51px; left: 2726px;">
        <img
          src="/images/hero/46.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 240px; left: 4739px;">
        <img
          src="/images/hero/19.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 418px; left: 3730px;">
        <img
          src="/images/hero/40.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 204px; left: 1867px;">
        <img
          src="/images/hero/38.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 26px; left: 298px;">
        <img
          src="/images/hero/11.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 300px; left: 4164px;">
        <img
          src="/images/hero/22.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 368px; left: 3611px;">
        <img
          src="/images/hero/17.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
      <div
        style="width: 15px; height: 15px; position: absolute; top: 162px; left: 3355px;">
        <img
          src="/images/hero/38.svg"
          alt="Video icon"
          style="filter: brightness(0.6); width: 15px; height: 15px;" />
      </div>
    </div>
    <div class="stars5">
      <div
        style="width: 25px; height: 25px; position: absolute; top: 345px; left: 2906px;">
        <img
          src="/images/hero/30.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 353px; left: 1728px;">
        <img
          src="/images/hero/33.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 148px; left: 4802px;">
        <img
          src="/images/hero/43.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 0px; left: 1127px;">
        <img
          src="/images/hero/33.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 334px; left: 812px;">
        <img
          src="/images/hero/4.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 262px; left: 4627px;">
        <img
          src="/images/hero/37.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 191px; left: 1624px;">
        <img
          src="/images/hero/49.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 274px; left: 3218px;">
        <img
          src="/images/hero/32.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 215px; left: 2714px;">
        <img
          src="/images/hero/9.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 41px; left: 2163px;">
        <img
          src="/images/hero/6.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 84px; left: 4593px;">
        <img
          src="/images/hero/24.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 195px; left: 3652px;">
        <img
          src="/images/hero/19.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 375px; left: 4348px;">
        <img
          src="/images/hero/14.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 9px; left: 448px;">
        <img
          src="/images/hero/17.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
      <div
        style="width: 25px; height: 25px; position: absolute; top: 420px; left: 134px;">
        <img
          src="/images/hero/49.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 25px; height: 25px;" />
      </div>
    </div>
    <div class="stars6">
      <div
        style="width: 35px; height: 35px; position: absolute; top: 28px; left: 1174px;">
        <img
          src="/images/hero/5.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 256px; left: 4275px;">
        <img
          src="/images/hero/29.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 184px; left: 1049px;">
        <img
          src="/images/hero/24.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 27px; left: 4025px;">
        <img
          src="/images/hero/14.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 277px; left: 2348px;">
        <img
          src="/images/hero/19.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 396px; left: 1865px;">
        <img
          src="/images/hero/18.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 396px; left: 4347px;">
        <img
          src="/images/hero/46.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 261px; left: 2056px;">
        <img
          src="/images/hero/20.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 204px; left: 3082px;">
        <img
          src="/images/hero/35.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 382px; left: 1692px;">
        <img
          src="/images/hero/4.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 359px; left: 3392px;">
        <img
          src="/images/hero/11.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 3px; left: 1975px;">
        <img
          src="/images/hero/25.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 273px; left: 295px;">
        <img
          src="/images/hero/37.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 333px; left: 1024px;">
        <img
          src="/images/hero/20.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
      <div
        style="width: 35px; height: 35px; position: absolute; top: 18px; left: 352px;">
        <img
          src="/images/hero/41.svg"
          alt="Video icon"
          style="filter: brightness(0.65); width: 35px; height: 35px;" />
      </div>
    </div>
    <div style="top:170px" class="uk-position-center">
      <img
        width="150"
        height="150"
        alt="Synura logo"
        src="/images/Synura-Logomark-gradient.svg" />
    </div>
    <div style="top:350px" class="uk-position-center">
      <h1 class="uk-text-center uk-heading-primary">
        Video collaboration for everyone
      </h1>
    </div>
  </div>
</div>

<!-- sign up area -->
<div
  id="signup"
  style="background-color: #1e1e23"
  class="uk-border-rounded uk-text-center uk-align-center uk-padding-large uk-margin-remove">
  <h2>Synura will be available for early access in 2022</h2>
  {{< signup_form_shortcode "Sign up for waiting list" >}}
</div>

<!-- what is synura -->
<div
  id="features"
  class="uk-width-4-5 uk-width-2-5@s uk-align-center uk-padding-medium-top uk-padding-small-bottom uk-text-center uk-margin-medium-top">
  <h2>What is Synura?</h2>
  <p>
    {{% param "description" %}}
    You don't need to be an expert to make amazing videos!
  </p>
</div>
<div class="uk-margin-small-bottom uk-padding-small bottom-separator ">
  <lite-youtube
    class="uk-align-center"
    videoid="58yl0FUcIho"
    width="100%"
    style="max-width:600px;background-image: url('mockups/mobile_static_video_mockup.jpg');border: 1px solid #1e1e23">
    <a
      href="https://youtube.com/watch?v=58yl0FUcIho"
      class="lty-playbtn"
      title="Play Video">
      <span class="lyt-visually-hidden">What is Synura?</span>
    </a>
  </lite-youtube>
</div>

<!-- features list -->
<div class="uk-width-5-6 uk-width-4-5@s uk-align-center">
  <div
    class="bottom-separator uk-padding-xlarge-top uk-width-2xlarge uk-align-center">
    <h2
      style="font-weight:500;background: -webkit-linear-gradient(left, #6087D5, #32E5EA);-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">
      <img
        class="uk-margin-small-bottom"
        alt="Video icon"
        width="30"
        height="30"
        src="/images/hero/24.svg" />
      <br />
      Streamline your creation process
    </h2>
    <p class="uk-margin-small-top">
      Organize your ideas, in-progress videos, and any collaborators under one
      standard, clear production process. Everything is structured clearly into
      phases, with templates and resources at the ready.
    </p>
    <img
      alt="User interface screenshot"
      width="1060"
      height="468"
      class="mockup"
      src="/images/Feature-Automation-UI.svg" />
  </div>
  <div
    class="uk-margin-large-top bottom-separator uk-padding-xlarge-top uk-width-2xlarge uk-align-center">
    <h2
      style="font-weight:500;background: -webkit-linear-gradient(left, #6c34e8, #6087d5);-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">
      <img
        class="uk-margin-small-bottom"
        alt="Video icon"
        width="30"
        height="30"
        src="/images/hero/41.svg" /><br />
      AI-powered automatic editing
    </h2>
    <p class="uk-margin-small-top">
      Save time with automatic captioning, thumbnails, intros and outros,
      lighting, color, and audio correction, and much more. No special technical
      expertise is required to make your videos look fantastic.
    </p>
    <img
      alt="User interface screenshot"
      width="1060"
      height="468"
      class="mockup"
      src="/images/Feature-Production-UI.svg" />
  </div>
  <div
    class="uk-margin-large-top bottom-separator uk-padding-xlarge-top uk-width-2xlarge uk-align-center">
    <h2
      style="font-weight:500;background: -webkit-linear-gradient(left, #ea32d0, #6c34e8);-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">
      <img
        class="uk-margin-small-bottom"
        alt="Video icon"
        width="30"
        height="30"
        src="/images/hero/33.svg" />
      <br />
      Effective client collaboration
    </h2>
    <p class="uk-margin-small-top">
      If you are a coach or advisor for teams that produce their own videos, we
      can help you improve the efficiency of how you interact with your clients
      including reviewing their work, offering custom learning resources,
      templates, and more. Learn more by watching this
      <a href="https://www.youtube.com/watch?v=40ggpCesSRY">short video</a>.
    </p>
    <img
      alt="User interface screenshot"
      width="1060"
      height="468"
      class="mockup"
      src="/images/Feature-Agency-UI.svg" />
  </div>
</div>

<div
  style="background-color: #1e1e23"
  class="uk-padding uk-text-center uk-margin-large-top">
  <h3>Sounds interesting? Be one of the first to try it!</h3>
  {{< signup_form_shortcode "See for yourself for free" >}}
</div>
