---
title: Thanks for signing up
description: Landing page for our waiting list signup.
sitemapExclude: true
---

<h1>One more step..</h1>
<p>
  Thanks for signing up for our waiting list! You will now receive an email from
  jason@synura.com with the subject "Confirm your subscription to Synura waiting
  list" asking you to click a link to confirm your email address. If you don't
  see it, check your promotions or spam folder.
</p>

<p>If you don't confirm your address, you won't receive updates.</p>
