{{ define "main" }}
  <div class="uk-container uk-container-small uk-margin-small-top">
    <div uk-grid class="handbook-content">
      <div>
        <!--{{ partial "handbook-nav" . }}-->
        {{ .Content }}
        <div class="uk-width-1-1">
          {{ if .Site.Data.jobs }}
            <h2 id="careers">Careers</h2>
            <div class="uk-margin-small-top">
              <p>
                Interested in joining the Synura team? Check out these currently
                open positions.
              </p>
              <ul>
                {{ range $index, $element := .Site.Data.jobs }}
                  <li><a href="{{ $element.link }}">{{ $element.name }}</a></li>
                {{ end }}
              </ul>
            </div>
          {{ end }}

        </div>
        <div class="uk-width-1-1">
          <h2 id="the-team">The team</h2>
          <div
            class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-grid-match uk-text-center uk-margin-top"
            uk-grid>
            {{ range $index, $element := .Site.Data.team }}
              <div class="uk-padding-small" id="{{ $index }}">
                <div class="uk-background-muted uk-padding-small">
                  <div class="uk-border-rounded uk-grid-small">
                    <h4 class="no-anchor biolink uk-margin-remove">
                      {{ $element.name }}
                    </h4>
                    <p class="uk-margin-remove-top">{{ $element.role }}</p>
                    <img
                      alt="Photo of {{ $element.name }}"
                      width="250"
                      height="250"
                      loading="lazy"
                      src="{{ $element.image }}"
                      class="uk-border-rounded" />
                    <br />
                    {{ range $key, $val := $element.social }}
                      <a
                        href="{{ $val }}"
                        class="uk-text-muted uk-margin-top"
                        uk-icon="icon: {{ $key }}"></a>
                    {{ end }}
                    <p
                      class="uk-text-left uk-text-small uk-margin-remove-bottom">
                      {{ $element.bio }}
                      {{ $element.flag }}
                    </p>
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      <!-- Disabled until there are more team members
    {{ partial "handbook-nav" . }}
    -->
    </div>
  </div>
{{ end }}
{{ define "scripts" }}
  {{ $js := resources.Get
    "javascript/anchorlinks.js" |minify
  }}
  <script src="{{ $js.RelPermalink }}"></script>
  {{ $js := resources.Get
    "javascript/team_tableofcontents.js" |minify
  }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
