{{ define "main" }}
  <div class="uk-container uk-container-small uk-margin-small-top">
    <div uk-grid class="handbook-content">
      <div>
        {{ partial "handbook-nav" . }}
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
{{ define "scripts" }}
  {{ $js := resources.Get
    "javascript/anchorlinks.js" |minify
  }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
