{{ define "main" }}
  <!-- hero video -->
  <div
    style="border-bottom:1px solid #1e1e23"
    class="uk-align-center uk-cover-container uk-height-xmedium uk-margin-remove">
    <video
      poster="/video/hero-framezero.jpg"
      uk-video
      class="hero-video"
      style="filter:brightness(.6)"
      src="/video/hero-video.mp4"
      uk-video="autoplay: inview"
      width="100%"
      height="100%"
      playsinline
      autoplay
      muted
      loop
      uk-cover
      id="myVideo"></video>
    <div class="uk-position-center uk-text-center">
      <h1 style="font-weight:500" class="uk-heading-primary">Synura Blog</h1>
    </div>
  </div>

  <div class="uk-container uk-container-small uk-margin-medium-top">
    <p class="uk-text-dark uk-text-center uk-text-small">
      Filter articles by popular tags: |
      {{ range $key, $value := first 8 .Site.Taxonomies.tags.ByCount }}
        <a class="uk-text-muted" href="/tags/{{ $value.Term }}/"
          >{{ $value.Term }}</a
        >
        |
      {{ end }}
    </p>
  </div>

  {{ partial "blogindex" . }}


  <div class="uk-margin-medium-top uk-text-small">
    {{ template "_internal/pagination.html" . }}
  </div>

  <!-- sign up area -->
  <div
    id="signup"
    style="background-color: #1e1e23;border-top: 1px solid #bf3821;border-bottom: 1px solid #bf3821;"
    class="uk-border-rounded uk-text-center uk-align-center uk-padding-large uk-margin-large-top">
    <h2 class="no-anchor">
      Join our early access waiting list for product updates
    </h2>
    {{ partial "signup_form" }}
  </div>
{{ end }}
