{{ define "main" }}
  <div class="uk-container uk-container-xsmall uk-margin-small-top">
    {{ $authorData := index .Site.Data.authors .Params.Author }}
    {{ if $authorData.team_bio }}
      {{ $authorData = index .Site.Data.team $authorData.team_bio }}
    {{ end }}
    <article class="uk-article">
      <p>
        <img
          src="{{ .Params.Image }}"
          class="article-img uk-border-rounded uk-height-large"
          width="100%"
          alt="Article splash image"
          uk-img />
      </p>

      <h1 class="uk-text-bold">{{ .Params.Title }}</h1>

      <p class="uk-margin-small-bottom">
        <img
          class="uk-border-circle uk-margin-small-right"
          width="40"
          height="40"
          src="{{ $authorData.image }}"
          alt="{{ $authorData.name }} image" />
        By
        {{ if $authorData.external_link }}
          <a class="text-white" href="{{ $authorData.external_link }}"
            >{{ $authorData.name }}</a
          >,
        {{ else }}
          <a
            class="text-white"
            href="/handbook/general/about/#{{ .Params.Author }}"
            >{{ $authorData.name }}</a
          >,
        {{ end }}
        {{ $authorData.role }}
        | {{ time.Format "January 2, 2006" .Date }} |
        <span style="text-transform:uppercase" class="uk-text-dark">
          {{ add (math.Round (div (countwords .Content) 220.0)) 1 }}
          min read
        </span>
      </p>

      {{ .Content }}


      <p class="tombstone">∎</p>
    </article>
    <p class="uk-text-small uk-text-muted">
      Photo by
      <a class="text-white" href="{{ .Params.Image_credit_url }}"
        >{{ .Params.Image_credit_name }}</a
      >.
    </p>
  </div>

  <!-- sign up area -->
  <div
    id="signup"
    style="background-color: #1e1e23;border-top: 1px solid #bf3821;border-bottom: 1px solid #bf3821;"
    class="uk-border-rounded uk-text-center uk-align-center uk-padding-large uk-margin-medium-top">
    <h2 class="no-anchor">
      Join our early access waiting list for product updates
    </h2>
    {{ partial "signup_form" }}
  </div>

  <!-- related articles -->
  <div class="uk-container uk-container-xsmall uk-margin-large-top">
    {{ if .Params.Tags }}
      {{ $count := 0 }}
      <h2 class="uk-text-center">Related articles</h2>
      <table class="uk-table">
        {{ range first 3 (index .Site.Taxonomies.tags .Params.Tags) }}
          {{ $count = add $count 1 }}
          <tr>
            {{ if ne $.Page .Page }}
              <td>
                <img class="article-img" src="{{ .Page.Params.image }}" />
              </td>
              <td>
                <h3 class="uk-margin-remove-bottom uk-text-bold">
                  {{ .Title }}
                </h3>
                <p class="uk-margin-remove uk-text-dark">{{ .Description }}</p>
                <p>
                  <a href="{{ .Page.RelPermalink }}">Read more ≫</a>
                </p>
              </td>
            {{ end }}
          </tr>
        {{ end }}
      </table>
      {{ if eq $count 0 }}
        <table class="uk-table">
          <!-- if no articles are found, show video-related ones -->
          {{ range first 3 (index .Site.Taxonomies.tags "video") }}
            <tr>
              {{ if ne $.Page .Page }}
                <td>
                  <img src="{{ .Page.Params.image }}" />
                </td>
                <td>
                  <h3 class="uk-margin-remove-bottom uk-text-bold">
                    {{ .Title }}
                  </h3>
                  <p class="uk-margin-remove uk-text-dark">
                    {{ .Description }}
                  </p>
                  <a href="{{ .Page.RelPermalink }}">Read more ≫</a>
                </td>
              {{ end }}
            </tr>
          {{ end }}
        </table>
      {{ end }}
    {{ end }}
  </div>
{{ end }}

{{ define "scripts" }}
  {{ $js := resources.Get
    "javascript/anchorlinks.js" |minify
  }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
