---
title: Project index mockup
sitemapExclude: true
---

<div class="uk-grid-small mockup-grid" uk-grid>
  <div class="uk-width-3-4 uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1 uk-grid-collapse" uk-grid>
      <div class="uk-width-1-6 uk-cover-container">
        <a href="../projects_index/">
          <img
            style="width:100px;height:100px;object-fit:none;"
            class="uk-border-circle"
            src="../images/rome.jpg" />
        </a>
      </div>
      <div class="uk-width-5-6">
        <h3>My history channel</h3>
        <p class="uk-text-muted uk-text-italic">
          I produce one big educational videos (and teaser) about history on a
          monthly basis, along with occasional interviews. I always have a few
          in flight that I'm working on because they take a long time to
          prepare.
        </p>
      </div>
    </div>
    <div>
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Active projects</a></li>
            <li><a href="#">Reusable assets</a></li>
            <li><a href="#">Your project ideas</a></li>
            <li><a href="#">Published projects</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="uk-child-width-1-3 uk-grid-small" uk-grid>
      <div class="uk-inline">
        <img src="../images/rome.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">July: History of Rome</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Retrospective (live 3d ago)
            </p>
          </div>
        </div>
      </div>
      <div class="uk-inline">
        <img src="../images/script.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">Interview with historian</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Publishing (live in 3d)
            </p>
          </div>
        </div>
      </div>
      <div class="uk-inline">
        <img src="../images/egypt.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">Egypt teaser</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Post-production (live in 5d)
            </p>
          </div>
        </div>
      </div>
      <div class="uk-inline">
        <img src="../images/egypt.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">August: History of Egypt</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Production (live in 12d)
            </p>
          </div>
        </div>
      </div>
      <div class="uk-inline">
        <img src="../images/thailand.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">September: Thailand</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Pre-production (live in 14d)
            </p>
          </div>
        </div>
      </div>
      <div class="uk-inline">
        <img src="../images/thailand.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">Thailand teaser</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Pre-production (live in 14d)
            </p>
          </div>
        </div>
      </div>
      <div class="uk-inline">
        <img src="../images/script.jpg" />
        <div
          class="uk-overlay uk-position-top uk-light uk-padding-remove-top uk-padding-remove-bottom">
          <div class="uk-background-secondary uk-padding-small">
            <span class="uk-text-muted" uk-icon="icon: video-camera"></span>
            <a href="../project_page">Interview with historian</a>
            <br />
            <p class="uk-text-small uk-margin-remove uk-text-muted">
              Ideation (live in 20d)
            </p>
          </div>
        </div>
      </div>
      <div>
        <h5
          class="uk-text-muted uk-button uk-button-default uk-margin-small-bottom">
          Add project <span uk-icon="icon: plus-circle"></span>
        </h5>
      </div>
    </div>
  </div>
  <div class="uk-width-1-4 uk-padding-small-left">
    <div class="uk-background-muted uk-padding-small">
      <h4>Collaborators</h4>
      <p>
        <img
          src="../../images/team/jason.yavorska.jpg"
          width="35"
          height="35"
          class="uk-border-circle" />
        <img
          src="../../images/authors/tpanaritis.jpg"
          width="35"
          height="35"
          class="uk-border-circle" />
      </p>
      <h4>Learning resources</h4>
      <ul>
        <li>
          <u>What makes a great video?</u>
        </li>
        <li>
          <u>How to measure results</u>
        </li>
        <li>
          <u>Video production basics</u>
        </li>
        <p>
          <u class="uk-text-muted"
            >Add new resource <span uk-icon="icon: plus-circle"></span
          ></u>
        </p>
      </ul>
      <h4>Project templates</h4>
      <ul>
        <li><u>Channel intro</u></li>
        <li><u>Monthly history video</u></li>
        <li><u>Teaser video</u></li>
        <li><u>Interview</u></li>
        <li><u>Cross-promotion</u></li>
        <p>
          <u class="uk-text-muted"
            >Add new template <span uk-icon="icon: plus-circle"></span
          ></u>
        </p>
      </ul>
    </div>
  </div>
</div>
