---
title: Project page mockup
sitemapExclude: true
---

<div class="uk-grid-small mockup-grid" uk-grid>
  <div class="uk-width-3-4 uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1 uk-grid-collapse" uk-grid>
      <div class="uk-width-1-6 uk-cover-container">
        <a href="../projects_index/">
          <img
            style="width:100px;height:100px;object-fit:none;"
            class="uk-border-circle"
            src="../images/rome.jpg" />
        </a>
      </div>
      <div class="uk-width-2-3">
        <h3>July: History of Rome</h3>
        <p>Go-live: July 31, 2023<br />Phase: Production</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-margin-small-top">
      <!-- Assets -->
      <div class="uk-overflow-auto">
        <table class="uk-table uk-margin-top-remove">
          <thead>
            <tr>
              <th>
                <form class="uk-search uk-search-default">
                  <span uk-search-icon></span>
                  <input
                    class="uk-search-input"
                    type="search"
                    placeholder="SEARCH FILES" />
                </form>
              </th>
              <th>File</th>
              <th>Status</th>
              <th>Contributors</th>
              <th>Last modified</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="uk-cover-container">
                  <canvas width="200" height="90"></canvas>
                  <img src="../images/rome.jpg" uk-cover />
                </div>
              </td>
              <td>
                <u
                  ><span class="uk-text-muted"
                    ><a href="../video_page/">First draft video</a></span
                  ></u
                >
              </td>
              <td class="uk-text-warning">
                <span uk-icon="icon: users"></span> Needs review
              </td>
              <td>
                <p>
                  <img
                    src="../../images/team/jason.yavorska.jpg"
                    width="25"
                    height="25"
                    class="uk-border-circle" />
                </p>
              </td>
              <td>2 hours ago</td>
            </tr>
            <tr>
              <td>
                <div class="uk-cover-container">
                  <canvas width="200" height="90"></canvas>
                  <img src="../images/storyboard.jpg" uk-cover />
                </div>
              </td>
              <td>
                <u><span class="uk-text-muted">Storyboard</span></u>
              </td>
              <td class="uk-text-success">
                <span uk-icon="icon: check"></span> Done
              </td>
              <td>
                <p>
                  <img
                    src="../../images/team/jason.yavorska.jpg"
                    width="25"
                    height="25"
                    class="uk-border-circle" />
                  <img
                    src="../../images/authors/tpanaritis.jpg"
                    width="25"
                    height="25"
                    class="uk-border-circle" />
                </p>
              </td>
              <td>2 hours ago</td>
            </tr>
            <tr>
              <td>
                <div class="uk-cover-container">
                  <canvas width="200" height="90"></canvas>
                  <img src="../images/script.jpg" uk-cover />
                </div>
              </td>
              <td>
                <u><span class="uk-text-muted">Script</span></u>
              </td>
              <td class="uk-text-success">
                <span uk-icon="icon: check"></span> Done
              </td>
              <td>
                <p>
                  <img
                    src="../../images/team/jason.yavorska.jpg"
                    width="25"
                    height="25"
                    class="uk-border-circle" />
                  <img
                    src="../../images/authors/tpanaritis.jpg"
                    width="25"
                    height="25"
                    class="uk-border-circle" />
                </p>
              </td>
              <td>2 weeks ago</td>
            </tr>
            <tr>
              <td>
                <div>
                  <h5 class="uk-text-muted uk-button uk-button-default">
                    Add file <span uk-icon="icon: plus-circle"></span>
                  </h5>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="uk-margin-small-top uk-margin-small-left">
      <!--Chat-->
      <p class="uk-margin-small-top">
        <input
          type="text"
          class="uk-input semi-transparent uk-form-small uk-width-large"
          placeholder="Leave a comment on project" />
        <button class="uk-button-small uk-button-primary">Submit</button>
      </p>
      <div>
        <p>
          <img
            src="../../images/team/jason.yavorska.jpg"
            width="35"
            height="35"
            class="uk-border-circle uk-margin-small-right" />Jason (2h ago)
          Script writing was much better this time. We'll have to make sure we
          do it that way again.
          <span
            uk-icon="heart"
            class="uk-margin-small-left uk-margin-small-right"></span
          ><span uk-icon="reply"></span>
        </p>
      </div>
      <div>
        <p>
          <img
            src="../../images/team/jason.yavorska.jpg"
            width="35"
            height="35"
            class="uk-border-circle uk-margin-small-right" />Jason (35m ago)
          Almost done, really can't wait to publish this one. Do you have an
          ETA?
          <span
            uk-icon="heart"
            class="uk-margin-small-left uk-margin-small-right"></span
          ><span uk-icon="reply"></span>
        </p>
      </div>
      <div class="uk-margin-medium-left">
        <p>
          <img
            src="../../images/authors/tpanaritis.jpg"
            width="35"
            height="35"
            class="uk-border-circle uk-margin-small-right" />Theo (20m ago) I'll
          be getting to it later this afternoon, I'll let you know.
          <span
            uk-icon="heart"
            class="uk-margin-small-left uk-margin-small-right"></span
          ><span uk-icon="reply"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="uk-width-1-4 uk-padding-small-left">
    <div class="uk-background-muted uk-padding-small">
      <h4>Collaborators</h4>
      <p>
        <img
          src="../../images/team/jason.yavorska.jpg"
          width="35"
          height="35"
          class="uk-border-circle" />
        <img
          src="../../images/authors/tpanaritis.jpg"
          width="35"
          height="35"
          class="uk-border-circle" />
      </p>
      <h4>Recent activity</h4>
      <ul>
        <li>Jason uploaded a <u>new video draft</u></li>
        <li>Theo made a change to the <u>script</u></li>
      </ul>

      <h4>Open tasks</h4>
      <ul>
        <li><input type="checkbox" /> Complete final draft video</li>
        <li><input type="checkbox" /> Final production review</li>
        <p>
          <u class="uk-text-muted"
            >Add new task <span uk-icon="icon: plus-circle"></span
          ></u>
        </p>
      </ul>
      <h4>Learning resources</h4>
      <ul>
        <li>
          <u>What happens during production?</u>
        </li>
        <li><u>Setting up your room for recording</u></li>
        <li>
          <u>Lighting 101</u>
        </li>
        <p>
          <u class="uk-text-muted"
            >Add new resource <span uk-icon="icon: plus-circle"></span
          ></u>
        </p>
      </ul>
    </div>
  </div>
</div>
