---
title: Video page mockup
sitemapExclude: true
---

<div class="uk-grid-small mockup-grid" uk-grid>
  <div class="uk-width-3-4 uk-grid-collapse" uk-grid>
    <div class="uk-width-1-1 uk-grid-collapse" uk-grid>
      <div class="uk-width-1-6 uk-cover-container">
        <a href="../projects_index/">
          <img
            style="width:100px;height:100px;object-fit:none;"
            class="uk-border-circle"
            src="../images/rome.jpg" />
        </a>
      </div>
      <div class="uk-width-2-3">
        <h3>History of Rome video</h3>
        <p>Go-live: July 31, 2023<br />Phase: Post-production</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-margin-top">
      <!-- main panel -->
      <div uk-grid class="uk-grid-small uk-child-width-1-2">
        <!--Video player-->
        <div>
          <p class="uk-margin-remove">Current version</p>
          <img src="../images/rome_player.jpg" />
        </div>
        <div>
          <p class="uk-margin-remove">Previous version (1d ago: Fix color)</p>
          <img
            style="opacity: 0.8;filter:sepia();"
            src="../images/rome_player.jpg" />
        </div>
      </div>
      <div class="uk-margin-medium-top">
        <div uk-grid class="uk-grid-small uk-child-width-1-6">
          <div><p class="uk-text-right">Auto-filters</p></div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-muted uk-button uk-text-small uk-width-large">
              Run all
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-muted uk-button uk-text-small uk-width-large">
              Noise
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-muted uk-button uk-text-small uk-width-large">
              Color
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-muted uk-button uk-text-small uk-width-large">
              Umms
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-muted uk-button uk-text-small uk-width-large">
              Reframe
            </button>
          </div>
        </div>
      </div>
      <div class="uk-margin-small-top">
        <div uk-grid class="uk-grid-small uk-child-width-1-6">
          <div><p class="uk-text-right">Auto-generators</p></div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-small uk-button uk-text-muted uk-width-large">
              Run all
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-small uk-button uk-text-muted uk-width-large">
              Thumbnails
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-small uk-button uk-text-muted uk-width-large">
              Captions
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-small uk-button uk-text-muted uk-width-large">
              Intro
            </button>
          </div>
          <div>
            <button
              class="uk-button-secondary uk-button-small uk-text-small uk-button uk-text-muted uk-width-large">
              Outro
            </button>
          </div>
        </div>
      </div>
      <div class="uk-margin-medium-top">
        <!--Chat-->
        <p class="uk-margin-small-top">
          <input
            type="text"
            class="uk-input semi-transparent uk-form-small uk-width-large"
            placeholder="Leave a comment at 00:11:18" />
          <button class="uk-button-small uk-button-primary">Submit</button>
        </p>
        <div>
          <p>
            <img
              src="../../images/team/jason.yavorska.jpg"
              width="35"
              height="35"
              class="uk-border-circle uk-margin-small-right" />Jason (2h
            ago)<kbd class="uk-margin-small-left uk-margin-small-right"
              >00:00:00</kbd
            >This is looking great!
            <span
              uk-icon="heart"
              class="uk-margin-small-left uk-margin-small-right"></span
            ><span uk-icon="reply"></span>
          </p>
        </div>
        <div>
          <p>
            <img
              src="../../images/team/jason.yavorska.jpg"
              width="35"
              height="35"
              class="uk-border-circle uk-margin-small-right" />Jason (35m
            ago)<kbd class="uk-margin-small-left uk-margin-small-right"
              >00:11:18</kbd
            >Would this picture be better with color instead of sepia?
            <span
              uk-icon="heart"
              class="uk-margin-small-left uk-margin-small-right"></span
            ><span uk-icon="reply"></span>
          </p>
        </div>
        <div class="uk-margin-medium-left">
          <p>
            <img
              src="../../images/authors/tpanaritis.jpg"
              width="35"
              height="35"
              class="uk-border-circle uk-margin-small-right" />Theo (20m
            ago)<kbd class="uk-margin-small-left uk-margin-small-right"
              >00:11:18</kbd
            >Yeah that makes sense, I'll get it updated.
            <span
              uk-icon="heart"
              class="uk-margin-small-left uk-margin-small-right"></span
            ><span uk-icon="reply"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-4 uk-padding-small-left">
    <div class="uk-background-muted uk-padding-small">
      <h4>Collaborators</h4>
      <p>
        <img
          src="../../images/team/jason.yavorska.jpg"
          width="35"
          height="35"
          class="uk-border-circle" />
        <img
          src="../../images/authors/tpanaritis.jpg"
          width="35"
          height="35"
          class="uk-border-circle" />
      </p>
      <h4>File versions</h4>
      <ul>
        <li>8hr ago: <u>Remove umms</u></li>
        <li>1d ago: <u>Fix color</u></li>
      </ul>

      <h4>Open tasks</h4>
      <ul>
        <li><input type="checkbox" /> Finish post-processing</li>
        <li><input type="checkbox" /> Final review</li>
        <p>
          <u class="uk-text-muted"
            >Add new task <span uk-icon="icon: plus-circle"></span
          ></u>
        </p>
      </ul>
      <h4>Learning resources</h4>
      <ul>
        <li>
          <u>Post-production basics</u>
        </li>
        <li><u>Effective reviews</u></li>
        <li>
          <u>Preparing for publishing</u>
        </li>
        <p>
          <u class="uk-text-muted"
            >Add new resource <span uk-icon="icon: plus-circle"></span
          ></u>
        </p>
      </ul>
    </div>
  </div>
</div>
