<!DOCTYPE html>
<html lang="en-us" dir="ltr">
  {{ partial "head" . }}
  {{ block "scripts" . }}{{ end }}
  <body>
    <div>
      {{ partial "navbar" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer" . }}
    </div>
  </body>
</html>
