{{ define "main" }}
  <!-- sign up area -->
  <div
    id="signup"
    style="background-color: #1e1e23"
    class="uk-border-rounded uk-text-center uk-align-center uk-padding uk-width-expand uk-margin-remove">
    <h2>Ready to try Synura for free?</h2>
    {{ partial "signup_form" "sign up for early access" }}
  </div>

  <div class="uk-container uk-container-medium uk-margin-medium-top">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
      {{ range $index, $element := .Site.Data.pricing }}
        {{ $class := "pricing-card-secondary" }}
        {{ if $element.primary }}
          {{ $class = "pricing-card-primary" }}
        {{ end }}
        <div class="uk-padding-small">
          <div class="pricing-card uk-padding {{ $class }}">
            <h3>{{ $element.title }}</h3>
            <p class="brand-color text-large uk-text-center">
              {{ $element.price }}
            </p>
            <p>{{ $element.description }}</p>
            <ul class="uk-margin-small-bottom">
              {{ range $index, $attribute := $element.attributes }}
                <li>{{ $attribute }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
      <div></div>
      <div>
        <p class="uk-text-light">
          * Storage is calculated based on the maximum storage used each month.
        </p>
      </div>
      <div>
        <p class="uk-text-light">
          * Minutes of video processing are based on the length in minutes of
          videos processed.
        </p>
      </div>
    </div>
  </div>
{{ end }}
