$starFieldWidth: 5000
$starFieldHeight: 450
$starStartOffset: 600px

$numStarOneStars: 300
$numStarTwoStars: 200
$numStarThreeStars: 100
$width: 100%

.hero-container
  display: block
  position: relative
  overflow: hidden
  width: 100%
  
@function create-stars($n)

  $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #ccc"

  @for $i from 2 through $n
    $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #aaa"

  @return unquote($stars)

@mixin star-template($numStars, $starSize, $scrollSpeed)
  width: $starSize
  height: $starSize
  border-radius: 50%
  background: transparent
  box-shadow: create-stars($numStars)
  animation: animStar $scrollSpeed linear infinite
  &:after
    content: " "
    top: -$starStartOffset
    width: $starSize 
    height: $starSize
    border-radius: 50%
    position: absolute
    backgroud: transparent
    box-shadow: create-stars($numStars)

// First three layers are used for starfield
.stars0
  z-index: -100
  @include star-template($numStarOneStars, 1px, 1600s)
.stars1
  z-index: -90
  @include star-template($numStarTwoStars, 2px, 800s)
.stars2
  z-index: -80
  @include star-template($numStarThreeStars, 3px, 400s)
// Next four layers are used for icons
.stars3
  z-index: -70
  @include star-template(0, 0px, 250s)
.stars4
  z-index: -60
  @include star-template(0, 0px, 200s)
.stars5
  z-index: -50
  @include star-template(0, 0px, 150s)
.stars6
  z-index: -50
  @include star-template(0, 0px, 100s)
    
@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(0px) translateX(-#{$starFieldWidth}px)
  
    