:root {
  color-scheme: dark;
  --brand-primary-bright: #f54c22;
  --brand-background: #090013;
  --brand-primary-muted: #b2361f;
  --brand-secondary-muted: #120026;
  --brand-secondary-bright: #2697dd;
  --brand-gray: #bbb;
  --brand-darkgray: #777;
  --brand-offwhite: #eee;
  --brand-white: #fff;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/poppins-latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/poppins-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
html {
  background: var(--brand-background);
  font: 400 15px "Poppins", sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-display: swap;
  scroll-padding-top: 80px;
}
.uk-dropdown {
  background-color: var(--brand-background);
}
.uk-dropdown li {
  margin-top: 1rem;
  color: var(--brand-gray) !important;
}
.uk-dropdown a {
  color: var(--brand-offwhite) !important;
}
.uk-navbar-nav > li > a {
  text-transform: none;
}
nav#TableOfContents {
  font-size: 14px;
}
.brand-color {
  color: var(--brand-primary-bright) !important;
}
.brand-muted-color {
  color: var(--brand-primary-muted) !important;
}
.brand-background-color {
  background-color: var(--brand-primary-bright);
}
.text-large {
  font-size: 1.5rem;
}
.text-bright {
  color: var(--brand-offwhite) !important;
}
.text-white {
  color: var(--brand-white) !important;
}
.uk-text-muted {
  color: var(--brand-gray) !important;
}
.uk-text-meta {
  color: var(--brand-offwhite) !important;
}
.uk-text-dark {
  color: var(--brand-darkgray) !important;
}
.pricing-card {
  border-top-left-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
}
.pricing-card-secondary {
  border: 1px solid #1e1e23;
  background-color: #1e1e23;
}
.pricing-card-primary {
  border: 1px solid #bf3821;
  background-color: #2d2d35;
}
.mockup-grid {
  /* slightly smaller fonts for mockup */
  font: 400 14px/20px "Poppins", sans-serif;
}
.footer {
  font: 400 12px/20px "Poppins", sans-serif !important;
}
.center-placeholder::placeholder {
  text-align: center;
}
.uk-background-muted {
  background: #1e1e23;
}
.uk-heading-primary {
  font-weight: 500;
}
a,
.uk-link {
  color: var(--brand-secondary-bright) !important;
}
.handbook-nav a {
  color: var(--brand-gray) !important;
}
.handbook-section .handbook-anchor {
  color: var(--brand-background) !important;
}
.handbook-section:hover .handbook-anchor {
  color: var(--brand-gray) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand-offwhite);
}
p,
li {
  color: var(--brand-gray);
}
code,
pre {
  background-color: var(--brand-background) !important;
  color: var(--brand-offwhite) !important;
}
em {
  color: var(--brand-offwhite) !important;
}
.uk-navbar-nav > li.uk-active > a {
  color: var(--brand-offwhite) !important;
}
.uk-navbar-nav > li > a {
  color: var(--brand-gray) !important;
}
p {
  font-weight: 400;
}
.semi-transparent {
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--brand-offwhite);
  border-color: var(--brand-gray) !important;
}
.semi-transparent:focus {
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--brand-gray);
  border-color: var(--brand-gray) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: none;
  border-bottom: 1px;
}
.uk-navbar-nav {
  font-family: "Poppins", sans-serif;
}
.uk-text-large {
  font-size: 15px;
  color: var(--brand-gray);
}
body {
  overflow-y: scroll;
}
.uk-dropdown {
  top: 65px !important;
}
.mockup {
  width: 100%;
  height: auto;
}
.handbook-content h2 {
  border-bottom: 1px solid #25252b;
  overflow: hidden;
}
.logo-image {
  margin-right: 0.5rem;
}
.logo-text {
  font-weight: 500;
  letter-spacing: 0.28rem;
}
.uk-height-xmedium {
  height: 200px;
}
.article-img {
  object-fit: cover;
  border-top-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
}
.tombstone {
  color: var(--brand-primary-bright);
}
.hero-wrapper p,
.hero-wrapper h1 {
  color: var(--brand-offwhite);
}
.text-white {
  color: var(--brand-offwhite);
}
kbd {
  color: var(--brand-background) !important;
  background-color: var(--brand-gray) !important;
}
.value-emoji {
  font-size: 60px;
}
.signup-button {
  background: -webkit-linear-gradient(left, #ff4e2d, #ed3065);
  -webkit-text-fill-color: #fff;
  text-transform: none;
}
.bottom-separator {
  border-bottom: 1px solid #1e1e23;
}
.pagination {
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
  text-decoration: none;
  padding: 0 15px;
  list-style-type: none;
}
.pagination a.page-link {
  color: var(--brand-darkgray) !important;
}
.pagination li.page-item.active a {
  color: var(--brand-gray) !important;
}
blockquote {
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1rem;
}
/* cookie dialog */
div#cm,
div#s-hdr,
div#s-bns {
  background-color: var(--brand-secondary-muted);
  border: 1px solid var(--brand-darkgray);
  color: var(--brand-gray);
}
div#c-txt button.cc-link {
  color: var(--brand-offwhite);
  border-color: var(--brand-darkgray);
}
#c-bns button:first-child,
#s-bns button:first-child {
  color: black !important;
  background-color: var(--brand-offwhite) !important;
}
