<div class="uk-container uk-container-small uk-margin-small-top">
  {{ range sort .Paginator.Pages "Date" "desc" }}
    <div
      class="uk-margin-medium-top uk-child-width-1-2@s uk-margin-small-left"
      uk-grid>
      <div class="article-img uk-padding-remove">
        <img
          class="article-img"
          src="{{ .Params.Image }}"
          alt="Article splash image" />
      </div>
      <div class="uk-padding-small-left">
        <h3 class="uk-margin-remove-bottom uk-text-bold">{{ .Title }}</h3>
        <p class="uk-margin-small-top uk-text-dark">{{ .Description }}</p>
        <p><a href="{{ .Permalink }}">Read more ≫</a></p>
        <p class="uk-text-small">
          {{ time.Format "January 2" .Date }} |
          <span class="uk-text-dark" style="text-transform:uppercase">
            {{ add (math.Round (div (countwords .Content) 220.0)) 1 }}
            min read
          </span>
          {{ if .Params.Tags }}
            {{ range .Params.Tags }}
              |
              <a class="text-white" href="/tags/{{ . }}/">{{ . }}</a>
            {{ end }}
          {{ end }}
          {{ $authorData := index .Site.Data.authors .Params.Author }}
          {{ if $authorData.team_bio }}
            {{ $authorData = index .Site.Data.team $authorData.team_bio }}
          {{ end }}
          <br />
          By {{ $authorData.name }},
          {{ $authorData.role }}
        </p>
      </div>
    </div>
  {{ end }}
</div>
