<div class="uk-width-large uk-align-center uk-margin-large-top">
  <img
    alt="Synura logo"
    class="uk-margin-medium-bottom uk-align-center"
    width="40"
    height="40"
    src="/images/brand/svg/Icon_Orange.svg" />
  <table class="uk-table uk-table-small uk-text-center">
    <thead>
      <tr>
        <th class="uk-text-center text-white">Product</th>
        <th class="uk-text-center text-white">Company</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="uk-text-dark" href="/#features">Features</a></td>
        <td>
          <a class="uk-text-dark" href="/handbook/general/about/">About</a>
        </td>
      </tr>
      <tr>
        <td><a class="uk-text-dark" href="/pricing/">Pricing</a></td>
        <td><a class="uk-text-dark" href="/handbook/">Handbook</a></td>
      </tr>
      <tr>
        <td>
          <a class="uk-text-dark" href="/blog/">Blog</a>
        </td>
        <td>
          <a class="uk-text-dark" href="/handbook/general/about/#get-in-touch"
            >Contact</a
          >
        </td>
      </tr>
      {{ if .Site.Data.jobs }}
        <tr>
          <td colspan="2">
            <a
              class="brand-color uk-text-center"
              href="/handbook/general/about/#careers"
              >>> We're hiring! <<</a
            >
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<div
  uk-grid
  class="uk-child-width-auto uk-flex-center uk-margin uk-margin-small-top">
  <a href="https://gitlab.com/synura"
    ><i uk-icon="gitlab" title="GitLab" class="uk-text-muted"></i
  ></a>
  <a href="https://twitter.com/SynuraHQ"
    ><i uk-icon="twitter" title="Twitter" class="uk-text-muted"></i
  ></a>
  <a href="https://www.linkedin.com/company/synura"
    ><i uk-icon="linkedin" title="LinkedIn" class="uk-text-muted"></i
  ></a>
  <a href="https://www.reddit.com/r/synura/"
    ><i uk-icon="reddit" title="Reddit" class="uk-text-muted"></i
  ></a>
  <a href="https://www.youtube.com/channel/UCMdZDGdS6Ak4PrSw8l0qeJg"
    ><i uk-icon="youtube" title="YouTube" class="uk-text-muted"></i
  ></a>
  <a href="https://www.twitch.tv/synurafounder"
    ><i uk-icon="twitch" title="Twitch" class="uk-text-muted"></i
  ></a>
</div>

<div class="footer">
  <p class="uk-text-center uk-margin-large-top">
    Copyright {{ time.Now.Year }} Synura, Inc. All rights reserved.<br />
    This site uses cookies;
    <a href="#" onclick="initCookieConsent().showSettings()">click here</a>
    to manage your preferences.
    <br />
    You can also read our
    <a href="/handbook/corporate/privacy-policy/">privacy policy</a>
    and
    <a href="/handbook/corporate/terms-of-use/">terms of use</a>.
  </p>
</div>

{{ if eq .Page.Section "search" }}
  {{ partial "search-index.html" . }}
{{ end }}
