<div
  class="uk-width-medium uk-visible@s uk-background-muted handbook-nav uk-padding-small uk-align-right">
  <div class="uk-margin-small-top uk-margin-medium-bottom">
    <h5>On this page</h5>
    {{ .TableOfContents }}
  </div>
  <p class="uk-margin-top uk-text-center">
    <a href="/handbook/"
      ><span
        alt="Home"
        title="Home"
        class="handbook-anchor uk-text-meta"
        uk-icon="icon: home"></span
    ></a>
    <a
      href="https://gitlab.com/-/ide/project/synura/synura.com/edit/main/-/content/{{ .File.Path }}"
      class="uk-text-meta uk-margin-small-left"
      ><span
        class="handbook-anchor uk-text-meta"
        alt="Edit"
        title="Edit"
        uk-icon="icon: file-edit"></span
    ></a>
    <a
      href="https://sourcegraph.com/search?q=context:global+repo:%5Egitlab.com/synura/synura.com%24+file:content/{{ .File.Path }}+type:diff+rev:main&patternType=literal"
      class="uk-text-meta uk-margin-small-left"
      ><span
        class="handbook-anchor uk-text-meta"
        alt="History"
        title="History"
        uk-icon="icon: copy"></span
    ></a>
  </p>
  <div class="uk-margin uk-text-center">{{ partial "search-form.html" . }}</div>
</div>
