<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4e2d" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta name="theme-color" content="#ffffff" />
  <!-- canonical link for all blog subpages and tags page is blog home -->
  {{ if or (hasPrefix .Page.RelPermalink "/tags") (hasPrefix .Page.RelPermalink "/blog/page") }}
    <link rel="canonical" href="https://www.synura.com/blog/" />
  {{ else }}
    <link rel="canonical" href="{{ .Page.Permalink }}" />
  {{ end }}
  {{ if .Params.sitemapexclude }}
    <meta name="robots" content="noindex" />
  {{ end }}
  {{ $title := .Params.title }}
  {{ if hasPrefix .Page.RelPermalink "/tags" }}
    {{ $title = printf "%s index" .Params.title | humanize }}
  {{ end }}
  <title>Synura - {{ $title }}</title>
  <meta name="description" content="{{ .Params.description }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Synura - {{ $title }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  {{ if (isset .Params "image") }}
    <meta
      property="og:image"
      content="{{ printf "%s%s" .Site.BaseURL .Params.Image }}" />
    <meta
      name="twitter:image"
      content="{{ printf "%s%s" .Site.BaseURL .Params.Image }}" />
  {{ else }}
    <meta
      property="og:image"
      content="https://www.synura.com/images/logo_opengraph.jpg?v2" />
    <meta
      name="twitter:image"
      content="https://www.synura.com/images/logo_opengraph.jpg?v2" />
  {{ end }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@SynuraHQ" />
  <meta property="twitter:domain" content="synura.com" />
  <meta property="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:title" content="Synura - {{ $title }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />

  <link
    rel="preload"
    href="/fonts/poppins-latin.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
  <link
    rel="preload"
    href="/fonts/poppins-latin-ext.woff2"
    as="font"
    type="font/woff2"
    crossorigin />

  <!-- render blocking resoures -->
  {{ $css := resources.Get "css/uikit.css" |minify }}
  <style>{{ $css.Content | safeCSS }}</style>
  {{ $js := resources.Get "javascript/uikit.js" |minify }}
  <script>{{ $js.Content | safeJS }}</script>
  {{ $sass := resources.Get "css/hero.sass" }}
  {{ $style := $sass | resources.ToCSS |minify }}
  <style>{{ $style.Content |safeCSS }}</style>
  {{ $css := resources.Get "css/site-style.css" |minify }}
  <style>{{ $css.Content |safeCSS }}</style>
  {{ $css := resources.Get "css/cookieconsent.css" |minify }}
  <style>{{ $css.Content |safeCSS }}</style>
  {{ $css := resources.Get "css/lite-yt-embed.css" |minify }}
  <style>{{ $css.Content |safeCSS }}</style>

  <!-- other resources -->

  {{ $js := resources.Get "javascript/uikit-icons.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>

  {{ $js := resources.Get "javascript/lite-yt-embed.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>

  {{ $js := resources.Get "javascript/uikit-extended-icons.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>

  {{ $js := resources.Get "javascript/cookieconsent.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>

  {{ $js := resources.Get "javascript/cookieconsent-init.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>

  <script
    type="text/plain"
    data-cookiecategory="analytics"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-2YF8YFF6YB"></script>
  <script type="text/plain" data-cookiecategory="analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2YF8YFF6YB");

    document.getElementById("mc-embedded-subscribe").addEventListener("click", function () {
      gtag("event", "add_to_waiting_list");
    });
  </script>
</head>
