<div
  style="background-color:#000;border-bottom: 1px solid #1e1e23"
  uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav
    class="uk-navbar-container uk-navbar-transparent uk-margin-small-left uk-margin-small-right"
    uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-logo uk-active">
          <a href="/"
            ><img
              width="20"
              height="20"
              alt="logo"
              class="uk-img logo-image"
              src="/images/logo.svg" /><span class="logo-text">SYNURA</span></a
          >
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right uk-visible@s">
      <ul class="uk-navbar-nav">
        {{ partial "navitems" . }}
      </ul>
    </div>
    <div class="uk-navbar-right uk-hidden@s">
      <ul class="uk-navbar-nav">
        <li class="uk-parent">
          <a href="#" aria-label="Menu" class="uk-text-meta"
            ><i uk-icon="menu" alt="Menu"></i
          ></a>
          <div uk-dropdown="mode: hover">
            <ul class="uk-nav uk-dropdown-nav">
              {{ partial "navitems" . }}
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
