{{ $match := false }}
{{ range $index, $element := .Site.Data.navitems }}
  {{ if $element.button }}
    <li>
      <a href="{{ $element.url }}"
        ><button
          class="signup-button uk-button-small uk-border-rounded uk-button">
          {{ $element.name }}
        </button></a
      >
    </li>
  {{ else if and (hasPrefix $.Page.RelPermalink $element.url) (eq $match false) }}
    {{ $match = true }}
    <li class="uk-active">
      <a href="{{ $element.url }}">{{ $element.name }}</a>
    </li>
  {{ else }}
    <li><a href="{{ $element.url }}">{{ $element.name }}</a></li>
  {{ end }}
{{ end }}
