<form
  id="search"
  class="uk-search uk-search-default"
  action="{{ with .GetPage "/search" }}{{ .Permalink }}{{ end }}"
  method="get">
  <label hidden for="search-input">Search site</label>
  <span uk-search-icon></span>
  <input
    type="text"
    id="search-input"
    name="query"
    class="uk-search-input semi-transparent"
    placeholder="Search the handbook" />
</form>
