{{ define "main" }}
  <div class="uk-container uk-container-medium">
    {{ partial "search-form.html" . }}

    <ul class="uk-list uk-list-divider" id="results">
      <li>Enter a keyword above to search this site.</li>
    </ul>
  </div>
{{ end }}
